<ion-view view-title="Exhibits" class="Exhibits-page">
  <ion-content class="padding scroll-bg">
    <section class="exhibit-container">
      <div class = "exhibit-header">
        <h3>Which exhibit will you see?</h3>
      </div>
      <ion-list>
        <ion-item class="exhibit" ng-repeat="exhibit in exhibits track by $index">
          <button id="exhibit-button" class="button button-large" ng-click="selectExhibit(exhibit.exhibit.id)">
            {{ exhibit.exhibit.name }}
          </button>
        </ion-item>
      </ion-list>
    </section>
  </ion-content>
</ion-view>
