<!-- <<<<<<< HEAD -->
<ion-view view-title="Games" class="Games-page">
  <ion-content class="padding scroll-bg">
    <section class="game-container">
      <div class = "game-header">
        <h3>Play a game!</h3>
      </div>
        <ion-item class="newgame-button">
          <button id="newgame-button" class="button button-large" ng-click="createNewGame()">
            Word Scramble
          </button>
        </ion-item>

        <div class="answer" ng-show="new.go">
          <ion-item class="game">
            <div class="jumbled-word">{{returnJumble()}}</div>
            <input type="text" ng-model="responses.playerAnswer" placeholder="Your guess">
          </ion-item>
          <ion-item class="result-text" ng-show="showResults.show">
            <div>{{returnAnswer()}}</div>
          </ion-item>
          <a class="tab-item" ng-click="checkResults()">
<!-- =======
<ion-view view-title="Game" class="game-page">
  <ion-content>
    Game Page
      <ion-item class="newgame-button">
        <button id="newgame-button" class="button button-large" ng-click="createNewGame()"> -->
          <!-- New Game
        </button>
      </ion-item> -->
      <!-- <div ng-show="new.go"> -->
      <!-- <ion-item class="game">
        <div class="jumbled-word">{{returnJumble()}}</div> -->
        <!-- <textarea ng-model="responses.playerAnswer" placeholder="Your guess"></textarea> -->
      <!-- </ion-item>
      <ion-item class="result-text" ng-show="showResults.show">
      <div>{{returnAnswer()}}</div>
    </ion-item>
      <a class="tab-item" ng-click="checkResults()"> -->
<!-- >>>>>>> bcb7266df7cd77d4d2bf21f581ef791756c1c38e -->
            <i class="icon ion-android-done-all"></i>
            <p>Check your answer</p>
          </a>
    </section>
  </ion-content>
</ion-view>
