<ion-view view-title="Games" class="Games-page">
  <ion-content class="padding scroll-bg">
    <section class="game-container">
      <div class = "game-header">
        <h3>Play a game!</h3>
      </div>
        <ion-item class="game-button">
          <button id="newgame-button" class="button button-large" ng-click="newGame()">
            Word Scramble
          </button>
        </ion-item>

        <div class="answer" ng-show="new.go">
          <ion-item class="game">
            <div class="jumbled-word">{{returnJumble()}}</div>
            <input type="text" ng-model="responses.playerAnswer" placeholder="Your guess">
          </ion-item>
          <ion-item class="result-text" ng-show="showResults.show">
            <div>{{returnAnswer()}}</div>
          </ion-item>
          <a class="tab-item" ng-click="checkResults()">
            <i class="icon ion-android-done-all"></i>
            Check your answer
          </a>
    </section>
  </ion-content>
</ion-view>
