<ion-view view-title="Questions" class="Questions-page">
  <ion-content>
  This is the questions page...
    <ion-list>
      <ion-item class="question" ng-repeat="question in questions track by $index">
        <div class="question-title" >{{ question.question.description }}</div>
        <textarea id="response{{question.question.id}}" ng-model="question.question.response"></textarea>
      </ion-item>
    </ion-list>

    <a class="tab-item" ng-click="collectResponses(); savedAlert()" ui-sref="tab.home">
          <i class="icon ion-close"></i>
          Submit
    </a>

  </ion-content>
</ion-view>
