<ion-view view-title="Questions" class="Questions-page">
  <ion-content>
  This is the questions page...
    <ion-list>
      <ion-item class="question" ng-repeat="question in questions track by $index">
        <div class="question-title" >{{ question.question.description }}</div>
        <textarea class="text-answer" id="text-response{{question.question.id}}" ng-model="question.question.response"></textarea>

        <div ng-controller="ImageController">
          <button class="button button-full button-energized upload-button" ng-click="uploadPicture()" ng-model="question.question.image")>
            Add image
          </button>
          <!-- <img src=”{{ urlForImage }}” alt=”” /> -->
          <!-- <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
            <img ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
          </ion-scroll> -->

        </div>

      </ion-item>
    </ion-list>

    <a class="tab-item" ng-click="collectResponses(); savedAlert()" ui-sref="tab.home">
          <i class="icon ion-checkmark"></i>
          Submit
    </a>
  </ion-content>
</ion-view>
