<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Home" id="home-icon" icon-on="ion-home" icon-off="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Questions" id="question-icon" icon-on="ion-help" icon-off="ion-help" href="#/tab/questions">
    <ion-nav-view name="tab-questions"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Exhibits" icon-on="ion-help" icon-off="ion-help" href="#/tab/exhibits">
    <ion-nav-view name="tab-exhibits"></ion-nav-view>
  </ion-tab>
</ion-tabs>
