<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <div>
  <ion-tab title="Home" id="home-icon" icon-on="ion-home" icon-off="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Questions" id="question-icon" icon-on="ion-help" icon-off="ion-help" href="#/tab/questions">
    <ion-nav-view name="tab-questions"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Exhibits" icon-on="ion-help" icon-off="ion-help" href="#/tab/exhibits">
    <ion-nav-view name="tab-exhibits"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Game" id="game-icon" icon-on="ion-ios-game-controller-b" icon-off="ion-ios-game-controller-b" href="#/tab/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>
    <ion-tab id="logout-button" on-select="logout()" icon-on="ion-close" icon-off="ion-close" href="#/tab/login">
  </ion-tab>
  </div>
</ion-tabs>
